@media (min-width: 1670px) {
    .container{
        max-width: 1660px;
    }
}
@media (min-width: 1450px) {
    .container{
        max-width: 1440px;
    }
}
@media (min-width: 1280px) {
    .container{
        max-width: 1270px;
    }
}
@media (max-width: 1440px) {
    .slider__desc {
        top: 7%;
    }
    .slider__desc .title h1 {
        font-size: 35px;
    }
    .slider__desc .title {
        padding: 35px 30px;
    }
    .slider__desc p {
        font-size: 23px;
        padding: 17px 0;
    }
    .slider__form .title {
        font-size: 15px;
        padding: 15px 30px;
    }
    .slider__form .form-control {
        line-height: 20px;
    }
    .slider__form {
        top: 4%;
    }
    .intro {
        .col-sm-6:nth-child(1) {
            background-color: #F1F1F1;
            padding: 30px 100px;
        }
        h3 {
            font-size: 25px;
            margin-bottom: 20px;
        }
        .site__list li {
            text-indent: 15px;
            font-size: 14px;
            margin-bottom: 10px;

            &:before {
                width: 7px;
                height: 7px
            }
        }
    } 
    section h2 {
        font-size: 35px;
    }
    .dist__name {
        font-size: 18px;
        padding-left: 5px;
    }
    .slick-slide img {
        display: block;
        width: 100%;
    }
    .floor__planSlider .sider-header .schedule {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .floor__planSlider .sider-header .title {
        font-size: 30px;
    }
    .payment__percent {
        width: 95px;
        height: 90px;
        font-size: 30px;
    }
    .payment__desc {
        font-size: 14px;
        line-height: normal;
    }
}
@media (max-width: 1280px) {
    .slider__desc .title h1 {
        font-size: 25px;
    }
    .slider__desc .title {
        padding: 23px 30px;
    }
    .slider__desc p {
        font-size: 17px;
        padding: 12px 0;
    }
    section {
        padding: 20px 0;
    }
    .section__title {
        margin-bottom: 50px;
    }
    .dist__time {
        padding: 20px 22px 10px;
    }
    .dist__name {
        font-size: 14px;
        line-height: normal;
    }
}
@media (max-width: 1200px) {
    .navbar .nav-link {
        font-size: 14px;
        margin-right: 25px;
    }
    .dist__info {
        padding: 0%;
    }
    .slider__desc {
        left: 10.5%;
    }
    .slider__form {
        right: 12.5%;
    }
    .section__title {
        margin-bottom: 40px;
    }
    section {
        padding: 20px 0;
    }
    section h2 {
        font-size: 30px;
    }
    .intro .col-sm-6:nth-child(1) {
        padding: 30px 80px;
    }
}
@media (max-width: 980px) {
    .navbar-brand img {
        width: 140px;
    }
    .navbar .nav-link {
        font-size: 11px;
        margin-right: 8px;
    }
    .wassyefNav__contact a {
        margin-bottom: 0px;
    }
    .wassyefNav__contact a {
        font-size: 12px;
    }
    header {
        padding: 5px 0 10px;
    }
    .slider__desc .title h1 {
        font-size: 18px;
    }
    .slider__desc .title {
        padding: 14px 17px;
    }
    .slider__desc p {
        font-size: 14px;
        padding: 7px 0;
    }
    .slider__form .title {
        font-size: 14px;
        padding: 11px 0px;
    }
    .slider__form .input-field {
        padding: 10px;
    }
    .slider__form label {
        margin-bottom: 0px;
    }
    .slider__form .form-control {
        line-height: 17px;
        padding: 5px 10px;
    }
    .slider__form .form-group {
        margin-bottom: 0.2rem;
    }
    .slider__form {
        top: 3.2%;
    }
    section h2 {
        font-size: 25px;
    }
    .section__download a {
        font-size: 12px;
        padding-left: 7px;
        margin-right: 5px;
    }
    .section__download a span {
        font-size: 20px;
        padding: 0px 6px;
        line-height: 34px;
    }
    .intro h3 {
        font-size: 16px;    
        margin-bottom: 15px;
    }
    .intro .site__list li {
        text-indent: 15px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .intro .col-sm-6:nth-child(1) {
        padding: 27px 55px;
    }
    .dist__time {
        padding: 9px 12px 10px;
    }
    .dist__time {
        font-size: 24px;
    }
    .dist__time .min--txt {
        font-size: 8px;
    }
    .dist__time p:nth-child(2) {
        line-height: 6px;
    }
    .dist__name {
        font-size: 10px;

        p {
            margin-bottom: 0px;
        }
    }
    .section__location .desc {
        padding: 0 5%;
    }
    .floor__planSlider .sider-header .title {
        font-size: 20px;
    }
    .floor__planSlider .sider-header .schedule {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .floor__planSlider .sider-header .content {
        padding: 5px 14px;
    }
    .floor__planIcon span {
        font-size: 32px;
    }
    .floor__planIcon {
        color: #00657F;
        font-size: 40px;
       
        padding: 0px;
        height: 59px;
        width: 60px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .floor__planTitle {
        line-height: 59px;
        width: calc(100% - 60px);
        padding: 0 20px;
    }
    .floor__planList li {
        width: 100%;
    }
    .floor__tabHolder {
        min-width: 100%;
    }
    .payment__percent {
        width: 80px;
        height: 65px;
        font-size: 25px;
    }
    .payment__desc {
        padding-left: 10px;
    }
    .section__payment {
        padding: 70px 2%;
    }
}
@media (max-width: 768px) {
    .slider__desc {
        left: 6%;
        top: 6%;
    }
    .slider__form {
        top: auto;
        position: relative;
        right: auto;
        left: auto;
        width: 430px;
        margin: 30px auto 15px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    }
    .section__download a {
        font-size: 14px;
        padding-left: 20px;
        display: inline-block;
        width: 65%;
        line-height: 44px;
        margin-right: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    .section__download a span {
        font-size: 25px;
        padding: 5px 0;
        line-height: 34px;
        display: inline-flex;
        float: right;
        justify-content: center;
        align-items: center;
        width: 48px;
    }
    .section__download {
        margin-bottom: 40px;
    }
    .intro {
        .col-sm-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .intro h3 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .intro .site__list li {
        text-indent: 15px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .intro .site__list li:before {
        width: 5px;
        height: 5px;
    }
    .intro .site__list li:before {
        top: 10px;
    }
    .dist__info,
    .section__payment {
        .col-sm-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .section__location .desc {
        padding: 0;
    }
    .section__floor {
        .col-sm-8,
        .col-sm-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-sm-3  {
            text-align: center;
        }
    }
    .floor__planSlider {
        margin-bottom: 40px;
    }
    .floor__planList {
        display: inline-block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        
        li {
            width: 45%;
            margin-right: 10px;
            display: inline-block;
        }
    }
    .dist__name {
        font-size: 13px;
    }
    .navbar-nav li {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .navbar .nav-link:after {
        content: none;
    }
    .navbar .nav-link {
        font-size: 19px;
        margin-right: 8px;
        margin-bottom: 40px;
    }
    .wassyefNav__contact a {
        display: none;
    }
}
@media (max-width: 567px) {
    .slider__desc {
        left: 6%;
        top: 4%;
    }
    .slick-arrow span {
        font-size: 30px;
    }
    .slick-dots li button {
        height: 12px !important;
        width: 7px !important;
    }
    .footer__top .col-sm-4 {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
    .footer__top .col-sm-4:nth-child(1),
    .footer__top .col-sm-4:nth-child(3) {
        text-align: center;
    }
    .footer__bottom p {
        text-align: center;
    }
}

@media (max-width: 480px) { 
    .slider__form {
        width: 90%;
    }
    .dist__info .col-sm-3, .section__payment .col-sm-3 {
        flex: 0 0 100%;
        max-width: 100%; 
    }
    .dist__time {
        font-size: 54px;
        padding: 5% 5% 5%;
    }
    .dist__time .min--txt {
        font-size: 11px;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 19px;
    }
    .dist__name {
        font-size: 20px;
    }
    .payment__percent {
        width: 120px;
        height: 97px;
        font-size: 40px;
    }
    .payment__infoHolder {
        margin-bottom: 15px;
    }
    .payment__desc p {
        font-size: 20px;
    }
    .dist__info .row .col-sm-3:nth-child(4) {
        order: 8;
    }
    .slider__desc {
        left: 6%;
        top: 3%;
    }
}

@media (max-width: 375px) {  
    .slider__desc .title h1 {
        font-size: 14px;
    }
    .slider__desc p {
        font-size: 10px;
        padding: 5px 0;
    }
    .slider__desc {
        left: 6%;
        top: 2.5%;
    }
    .section__download a {
        width: 90%;
    }
    .intro h3 {
        font-size: 17px;
    }
    .dist__time {
        font-size: 40px;
    }
    .floor__planIcon span {
        font-size: 25px;
    }
    .floor__planList li {
        width: 100%;
    }
}